{
  "rainAzureApi": {
    "isRain": true,
    "isSensorsActivated": true,
    "sensorsInterval": 300,
    "monitoringForecastWT": {
      "start": "05:00",
      "end": "12:26"
    },
    "currentConditionsWT": {
      "start": "05:00",
      "end": "12:56"
    },
    "eui": "eui-rain",
    "eui-sensors": "${DRAGINO_RAIN_EUI}",
    "azureMapKey": "${AZURE_MAP_KEY}",
    "lat": ${SITE_LAT},
    "lon": ${SITE_LON}
  }
}
